<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局功能配置 -->
    <settings>
        <!-- 指定日志厂商为LOG4J -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 别名配置 -->
    <typeAliases>
        <package name="model"/>
    </typeAliases>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"></property>
        </plugin>
    </plugins>

</configuration>